<mat-grid-list cols="1" rowHeight="5em" style="margin-bottom: -5px;">
  <mat-grid-tile class="welcome">
    <p>
      Bem vindo a agenda telefonica digital, aqui você pode guardar os seus contatos e mante-los
      seguros!
    </p>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="40em" class="background">
  <mat-grid-tile>
    <p class="title">
      AGENDA<strong>TELEFÔNICA</strong>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="" (click)="openDialog()">Acessar</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="5em">
    <mat-grid-tile class="welcome">
      <p style="text-align: right!important;">
        Desenvolvido por: <strong>José Albino Jr.</strong>
      </p>
    </mat-grid-tile>
  </mat-grid-list>