<form (submit)="deleteContact()">
  <div class="loading" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h1 mat-dialog-title style="color: #3f51b5; width: 100%">
          <mat-icon>delete</mat-icon>
          <strong>
            Excluir
          </strong>
        </h1>
        <button mat-button color="warn" style="font-size: 12px" [mat-dialog-close]="true">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile-header>
      <mat-dialog-content class="row">
        <p class="col-md-12">
          Você tem certeza deseja excluir o contato <strong>{{contact.name}}</strong> ?
        </p>
      </mat-dialog-content>
      <mat-grid-tile-footer>
        <div mat-dialog-actions class="dialog-footer">
          <div class="text-left" style="width:50%">
            <button mat-raised-button [mat-dialog-close]="true">Cancelar</button>
          </div>
          <div class="text-right" style="width:50%">
            <button mat-raised-button type="submit" [disabled]="loading" color="warn">Excluir</button>
          </div>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</form>